.page {
  background-color: var(--weui-BG-0);
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  color: var(--weui-FG-0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 0.2s linear;
  &__hd {
    height: 112px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-content,
    .right-content {
      min-width: 160px;
      height: inherit;
      display: flex;
      align-items: center;
    }
    .left-content {
      padding-left: $n;
    }
    .right-content {
      padding-right: $n;
      justify-content: flex-end;
    }
    &.fixed {
      position: fixed;
      top: 0;
    }
  }
  &__bd {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
  }
  &__title {
    font-size: 52px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    line-height: 76px;
  }
}
